<div class="music">
    <app-content-card class="space-total" title="Programas para descubrir" ></app-content-card>
    <app-content-card class="space-total" title="Hecho para ti" ></app-content-card>
    <app-content-card class="space-total" title="Escuchado recientemente" ></app-content-card>
    <app-content-card class="space-total" title="Vuelve a tu música" ></app-content-card>
    <!-- <app-content-card class="space-total"></app-content-card>
    <app-content-card class="space-total"></app-content-card>
    <app-content-card class="space-total"></app-content-card>
    <app-content-card class="space-total"></app-content-card>
    <app-content-card class="space-total"></app-content-card> -->
</div>
