<div class="player">
    <div class="player-music">
        <div class="player-music-img">
            <img src="https://i.scdn.co/image/ab67616d0000485177fdcfda6535601aff081b6a" alt="">
        </div>
        <div class="player-music-name">
            <p>Watermelon Sugar</p>
            <small>Harry Styles</small>
        </div>
        <div class="">
            <i class="icon-player fas fa-heart"></i>
        </div>
        <div class="">
            <i class="icon-player fas fa-window-maximize"></i>
        </div>
    </div>
    <div class="player-audio">
        <div class="player-audio-button">
            <i class="icon-player fas fa-random"></i>
            <i class="icon-player fas fa-step-backward"></i>
            <i class="icon-player fas fa-play-circle" (click)="reproducir()" *ngIf="!isMusic;else raa"></i>
            <ng-template #raa>
                <i class="icon-player fas fa-pause-circle" (click)="pause()" #raa></i>
            </ng-template>
            <i class="icon-player fas fa-step-forward"></i>
            <i class="icon-player fas fa-repeat"></i>
            <audio src="../../../assets/sources/music.mp3"></audio>
        </div>
        <div class="">
            <app-progress-bar
            [porcentaje]="80"
            [widthProgressBar]="500"
            ></app-progress-bar>
        </div>
    </div>
    <div class="player-tools ">
        <!-- <div class="border"> -->
            <i class="icon-player fas fa-microphone"></i>
            <i class="icon-player fas fa-stream"></i>
            <i class="icon-player fas fa-drum-steelpan"></i>
            <i class="icon-player fas fa-volume-up"></i> 
            <div class="volume">
                <app-progress-bar
                [porcentaje]="90"
                [widthProgressBar]="100"
                ></app-progress-bar>
            </div>           
        <!-- </div> -->
    </div>
</div>
<div class="player-audio player-audio-mobile">
    <div class="player-audio-button">
        <i class="icon-player fas fa-random"></i>
        <i class="icon-player fas fa-step-backward"></i>
        <i class="icon-player fas fa-play-circle" (click)="reproducir()" *ngIf="!isMusic;else raa"></i>
        <ng-template #raa>
            <i class="icon-player fas fa-pause-circle" (click)="pause()" #raa></i>
        </ng-template>
        <i class="icon-player fas fa-step-forward"></i>
        <i class="icon-player fas fa-repeat"></i>
        <audio src="../../../assets/sources/music.mp3"></audio>
    </div>
</div>
